[Unit]

Description=Test

[Service]

ExecStart=/home/ghost/.local/bin/test

Restart=always

Type=simple

User=ghost

Group=ghost

[Install]

WantedBy=multi-user.target

Alias=test.service


